
.vs/BasicToDoList/FileContentIndex/d36c33cd-9ff7-41e2-aa16-5026e28603af.vsidx
.vs/BasicToDoList/FileContentIndex/79ada260-4bd8-4a1f-8f6a-7d899e4c5006.vsidx
.vs/BasicToDoList/FileContentIndex/1cebc09d-755c-41e9-ab35-f9e135f8d24d.vsidx
.vs/BasicToDoList/FileContentIndex/221cb180-e1eb-49fb-adfa-5fe078de26cd.vsidx
.vs/BasicToDoList/FileContentIndex/3e7ac6b5-8d82-4ef9-92ff-d82cdccad978.vsidx
.vs/BasicToDoList/FileContentIndex/7ded9e28-502f-425d-8d45-5b8e7bed6a8c.vsidx
.vs/BasicToDoList/FileContentIndex/cee290b8-1fa4-4b1d-bfa3-e6b050cd0927.vsidx
/.vs/BasicToDoList/FileContentIndex/18d76f2c-edd7-497a-a0c8-6ed918e7fbb2.vsidx
/.vs/BasicToDoList/FileContentIndex/c0b4967a-bcc9-4964-99c9-28d8ec8ebbf8.vsidx
/.vs/BasicToDoList/FileContentIndex/f0d98917-9b64-4267-80fe-12331ec49cd8.vsidx
*.vsidx
